/* Responsividade entre 360px a 720px */

@media screen and (min-width: 360px) and (max-width: 720px) {
    body{
        font-family: Arial;
        min-height: 100vh;
    }
    header {
        margin-top: -50px;
        font-size: 27px;
    }
    header p {
        font-size: 20px;
        margin-top: -30px;
    }
    .Main {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 65%;
        left: 50%;
        padding: 40px;
        width: 70%;
        height: 28%; /* ou 30% da tela*/
        border-radius: 15px;
        text-align: center;
    }
    input[type="text"] {
        border-radius: 15px;
        padding: 10px;
        margin: 15px;
        font-size: 17px;
        margin-left: 10px;
        width: 160px;
        outline: none;
    }
    div > ul> li {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    input[type="CheckBox"]{
        accent-color: #0bd76e;
        transform: scale(2.5);
        cursor: pointer;
    }
    #TopBar {
        display: flex;
        flex-direction: column;
    }

    #TopBar > div {
    background-color: #2B3035;
    width: 75%;
    padding: 20px;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.148);
}
#TopBar > div > p {
    margin-top: -10px;
}

    #Alert {
        /* Tom de Verde Legal #0bd76e*/
        display: none;
        color: #DEE2E6;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-size: 17px;
        margin-top: 10%;
        cursor: pointer;
        transition: 1.5s ease;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.159);
    }
    #inline {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: 3px;
    }
    #Login-suap {
        padding: 5px;
        border: none;
        outline: none;
        font-size: 17px;
        border-radius: 10px;
        width: 50%;
        white-space: nowrap;
        margin-right: 10px;
    }
    #Login-suap:hover {
        background-color: #5491ed;
        cursor: pointer;
    }
    footer {
        margin-top: 20%;
        position: fixed;
        top: 87%;
        left: 50%;
        width: 100%;
        height: 30px;
        transform: translate(-50%, -50%);
        padding: 10px;
        text-align: center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.148);
      }
      
      .footer-container {
        position: absolute;
        top: 2%;
        width: 100%;
      }
}
