
body{
    background-color: #212529;
    color: #DEE2E6;
    font-family: Arial;
    min-height: 100vh;
}
header {
    margin-top: -50px;
    font-size: 27px;
}
header p {
    font-size: 20px;
    margin-top: -30px;
}
.Main {
    background-color: #2B3035;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px;
    width: 20%;
    height: 200px; /* ou 30% da tela*/
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.148);
}
#produtividade {
    background-color: #2B3035;
    padding: 20px;
    width: 25%;
    height: auto; /* ou 30% da tela*/
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.148);
}
#produtividade > div > h1 {
    font-size: 30px;
}
input[type="text"] {
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    background-color: #212529;
    color: #DEE2E6;
    font-size: 17px;
    border: 0;
    outline: none;
    margin-left: 10px;
    width: 70%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.148);
}
input[type="text"]::placeholder {
    padding-left: 5px;
}
input[type="CheckBox"]{
    accent-color: #0bd76e;
    transform: scale(2.1);
    cursor: pointer;
}
#space-white {
    margin-top: 30px;
}
ul, li {
    list-style: none;
    margin-top: -2px;
    justify-items: center;
}
section > div > ul {
    margin-right: 30px;
}
.colum {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#Alert {
    /* Tom de Verde Legal #099452 ou #1c7f55*/
    background-color: #099452;
    display: none;
    color: #DEE2E6;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    margin-top: 30px;
    cursor: pointer;
    transition: 1.5s ease;
    animation: AnimationAlert 1s infinite ease-in; /* Animação de Alerta Vermelho */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.159);
}
@keyframes AnimationAlert { /* Animação de  Alerta Vermelho */
    0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.15);
  }
  60% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1.10);
  }
  100% {
    transform: scale(1);
  }
}
#Alert.erro {
    background: #dc143c;
  }
#inline {
    background-color: #1b1d20;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 5px;
}
#TopBar {
    display: flex;
    justify-content: space-between;
}
#TopBar > div {
    background-color: #2B3035;
    width: 20%;
    padding: 40px;
    width: 20%;
    height: auto; /* ou 30% da tela*/
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.148);
}
#TopBar > div > p {
    margin-top: -10px;
}
#Login-suap {
    background-color: #0B5ED7;
    color: #DEE2E6;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 10px;
    width: 50%;
    margin-right: 10px;
    transition: 3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.279);
}
#resetRotina {
    background-color: #0B5ED7;
    color: #DEE2E6;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 10px;
    width: 50%;
    margin-right: 10px;
    transition: 1s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.279);
}
#Login-suap:hover, #resetRotina:hover {
    background-color: #5491ed;
    transform: scale(1.06);
    transition: 1s ease;
    cursor: pointer;
}
footer {
    position: fixed;
    top: 90%;
    left: 50%;
    width: 95%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    background-color: #1b1d20;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.148);
  }
  
  .footer-container {
    width: 95%;
  }
